<body>
  <%= javascript_include_tag "/home/responsive_font_size" %>
  <h1 id=home_header>Tomás Charad</h1>
  <div id=main>
    <div id=main_image>
    <%= image_tag 'matanzas.jpg'%>
    </div>
    <button class="btn" id=main_left_btn>Left</button>
    <button class="btn" id=main_right_btn>Right</button>
    <div class="row-fluid">
      <div class="span12" style="text-align: center">
        <button class="btn" id=main_down_btn>Down</button>
      </div>
    </div>
  </div>

</body>
